/*Local Storage Assignment CSS*/

body {
	background: rgb(140,255,5);
	font-family: 'Helvetica', 'Doppio One', sans-serif;
}

.wrapper {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: white;
	border: 1px solid black;
	
	-webkit-box-shadow: 5px 5px 5px 2px rgba(64, 64, 64, 1);
	-moz-box-shadow: 5px 5px 5px 2px rgba(64, 64, 64, 1);
	box-shadow: 5px 5px 5px 2px rgba(64, 64, 64, 1);
}

header h1 {
	text-shadow: 2px 2px 2px #fa60ff;
	filter: dropshadow(color=#fa60ff, offx=2, offy=2);
}

fieldset {
	padding: 5px;
	margin: 5px;
}

fieldset>legend {
	text-shadow: 1px 1px 1px rgb(55,220,255);
	filter: dropshadow(color=rgb(55,220,255), offx=1, offy=1);
}

input {
	margin: 2px;
}

select {
	vertical-align: text-top;
	margin: 2px;
}

footer {
	text-align: right;
}